@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Luxurious+Script&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Petit+Formal+Script&family=Roboto+Condensed&family=Special+Elite&display=swap');

body {
    font-family: 'Petit Formal Script', cursive;
    background-color: white;
}

.fancy-font {
    font-family: 'Great Vibes', cursive;
}

.header-button {
    margin-top: 5em;
}

.RSVP {
    padding: 1em 4em;
    color: #f0877a;
    text-decoration: auto;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: solid 1px #f0877a;
}

.RSVP:hover {
    color: white;
    background-color: #000000;
}

.header a {
    color: white;
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline !important;
}