@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Luxurious+Script&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto+Condensed&family=Special+Elite&display=swap');


body {
    font-family: 'Roboto Condense', cursive;
}

.fancy-font {
    font-family: 'Great Vibes', cursive;
}


.img-cover {
    object-fit: cover;
}

.btn {
    width: 220px;
    font-size: 2em;
    color: black;
    border:1px solid #00000047;
}

.card-header {
    font-size: 2em;
}